---
env_prefix: cl-infrasam-test

cluster: cl-infrasam-test

cert-manager:
  installed: false
  chart_version: 1.19.3

contour:
  installed: false
  chart_version: 0.2.1

metallb:
  installed: false
  chart_version: 0.15.3
