---
env_prefix: cl-infrasam-prod

cluster: cl-infrasam-prod

argocd:
  installed: true
  chart_version: 8.3.0

argocd_apps:
  installed: true
  chart_version: 1.5.0

cert-manager:
  installed: true
  chart_version: 1.19.3

contour:
  installed: true
  chart_version: 0.2.1

metallb:
  installed: true
  chart_version: 0.15.3

speedtest:
  installed: true
  chart_version: 0.1.0

vault:
  installed: true
  chart_version: 0.32.0
