{{- range $name, $config := .Values.clusterSecretStores }}
---
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: {{ $name }}
  labels:
    {{- include "cluster-secret-store.labels" $ | nindent 4 }}
spec:
  provider:
    vault:
      server: {{ $config.server | quote }}
      path: {{ $config.path | quote }}
      version: {{ $config.version | default "v2" | quote }}
      auth:
        kubernetes:
          mountPath: {{ $config.authMountPath | default "kubernetes" | quote }}
          role: {{ $config.role | quote }}
          serviceAccountRef:
            name: {{ $config.serviceAccount | default "external-secrets" | quote }}
            namespace: {{ $config.serviceAccountNamespace | default "external-secrets" | quote }}
{{- end }}
