---
externalSecrets:
  grafana-admin:
    refreshInterval: 0
    clusterSecretStoreName: css-{{ (splitList "-" .Environment.Name) | last }}
    target:
      creationPolicy: Owner
      deletionPolicy: Delete
    data:
    - remoteRef:
        key: "kubestack-grafana-admin-user"
      secretKey: admin-user
    - remoteRef:
        key: "kubestack-grafana-admin-password"
      secretKey: admin-password

