---
externalSecrets:
  cert-manager-cloudflare:
    refreshInterval: "1h"
    clusterSecretStoreName: css-{{ .Values.cluster }}
    target:
      creationPolicy: Owner
      deletionPolicy: Delete
    data:
      - secretKey: api-token
        remoteRef:
          key: external-dns/cloudflare
          property: cloudflare-api-token
