---
externalSecrets:
  falcosidekick-teams:
    refreshInterval: 0
    clusterSecretStoreName: css-{{ (splitList "-" .Environment.Name) | last }}
    target:
      creationPolicy: Owner
      deletionPolicy: Delete
    data:
    - remoteRef:
        key: "falco-teams-webhook-url"
      secretKey: TEAMS_WEBHOOKURL
