---
externalSecrets:
  es-renovate-secrets:
    refreshInterval: "1h"
    clusterSecretStoreName: css-{{ .Values.cluster }}
    target:
      creationPolicy: Owner
      deletionPolicy: Delete
    data:
      - secretKey: RENOVATE_TOKEN
        remoteRef:
          key: renovate/github-token
          property: token
